*{
  margin: 0;
}
.runners{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#y{
  color: red;
}
.inputs{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#bet{
  margin-left: 7px;
}
#money{
  margin-left: 7px;
}
#money:before{
  content: "money: ";
}
.msg{
  display: flex;
  text-align: center;
}